* {
  box-sizing: border-box;
}
element.style {
  display: none;
  opacity: 0;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  mask-type: alpha;
  will-change: opacity;
  opacity: 0.98396;
}
body {
  background-color: var(--white);
  font-family: Discern Body, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  min-height: 100%;
  margin: 0;
  color: var(--4-calm-night);
}
div {
  display: block;
  unicode-bidi: isolate;
}
.sections {
  position: relative;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}
img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  border: 0;
}
:root {
  --4-calm-night: #26283a;
  --8-spring-red: #d95771;
  --6-light-purple: #6d69e3;
  --7-green: #4dabad;
  --9-white: white;
  --3-cotton-white: #fbf2ef;
  --1-red: #ca5f72;
  --2-purple: #593f91;
  --5-blue: #4b47c6;
  --natural-8: #eeecf3;
  --dim-grey: #686475;
  --test-color: var(--5-blue);
  --dark-purple: #24034e;
}

/*css for index*/
.page_wrap {
  overflow: clip;
}
.global-coded {
  display: none;
}
page_main {
  position: relative;
}

@media screen and (max-width: 991px) {
  .menu-cover {
    display: none;
  }
  .padding-global {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sections.is-nav {
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }
  .w-layout-blockcontainer {
    max-width: 728px;
  }
  .nav-bar {
    height: 9em;
  }
  .nav-bar_menu-layout {
    background-color: var(--9-white);
    color: var(--4-calm-night);
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    align-items: stretch;
    min-height: 100svh;
    padding: 0 2rem 2.25rem;
    display: none;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    font-size: 1rem;
  }
  .nav-bar_header {
    align-items: center;
    height: 6.25rem;
    padding-top: 2.725rem;
    padding-left: 0.25rem;
    display: flex;
  }
  .nav-bar_menu {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    flex-direction: column;
    flex: none;
    align-items: stretch;
    padding-left: 0.25rem;
  }
.nav-bar_menu-link:hover,
.nav-bar_menu-link.w--current {
  opacity: 1;
}
  .nav-bar_menu-link {
    border-bottom: 1.5px solid #eeecf3;
    justify-content: flex-start;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
  nav-bar_menu-icon {
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
    display: block;
    position: relative;
  }
  .menu-cion.is-x {
    display: none;
  }
  .menu-cion {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*the body starts here*/
  .subhero-content {
    min-height: 50vh;
    padding-left: 32px;
    padding-right: 32px;
  }
  .subhero-content.is-adjusted {
    padding-left: 0;
    top: 40vh;
  }
  .text-color-spring-red {
    width: 8.3125rem;
  }
  .section-videos {
    padding-bottom: 5rem;
  }
  .videos-content {
    grid-column-gap: 1rem;
    min-width: 0;
  }
  .slide-videos_item {
    width: 19.625rem;
    height: 11rem;
  }
  .hero-background {
    max-height: none;
  }
  .hero-background_vid {
    background-image: linear-gradient(
        23deg,
        rgba(113, 106, 235, 0.65),
        rgba(215, 89, 117, 0) 49%
      ),
      linear-gradient(rgba(36, 3, 78, 0.37), rgba(255, 255, 255, 0));
  }
  .hero-overlay_container {
    max-height: none;
  }
  .nav-bar_list {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 2rem;
    display: flex;
  }
  ._2-button-w-nav {
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .sections.is-nav {
    display: block;
    position: absolute;
  }
  .padding-global {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .w-layout-blockcontainer {
    max-width: none;
  }
  .nav-bar {
    height: 6.25rem;
    padding-top: 0.5rem;
  }
  .nav-bar_header {
    padding-top: 0.6rem;
    padding-left: 0;
  }
  
  .nav-bar_menu-link {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .t-button {
    font-size: 1rem;
  }
  .nav-bar_menu-icon {
    margin-bottom: 0;
  }
  .nav-bar_menu-icon-w {
    width: 1.5rem;
    height: 1.5rem;
  }
  .sections-bg.is-nav {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  /*the body starts here*/
  .subhero-content {
    padding-left: 0;
    padding-right: 0;
  }
  .subhero-content.is-adjusted {
    top: 50vh;
  }
  .home-hero-title-w {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }
  .fs2,
  .fs2.news-template {
    font-size: 2rem;
  }
  fs3 {
    letter-spacing: 0;
    font-size: 2rem;
    font-weight: 500;
  }
  p {
    font-size: 1rem;
  }
  .p-med {
    font-size: 1rem;
  }
  .section-videos {
    padding-bottom: 2rem;
  }
  .videos-content {
    grid-column-gap: 0.625rem;
    grid-row-gap: 0.625rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: grid;
  }
  .slide-videos_item {
    width: auto;
    height: auto;
  }
  .slide-videos_item.on_right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  [hide-mo] {
    display: none;
  }
  .nav-bar_menu-layout {
    display: none;
  }
  .nav-bar_list {
    padding-top: 0;
  }
  .about-button-tp {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
  .nav-bar_menu-layout {
    display: none;
  }

  /*the body starts here*/
  .subhero-content {
    height: 65vh;
  }
  .subhero-content.is-adjusted {
    top: 35.1vh;
  }
  .t-title-eyebrow {
    font-size: 0.875rem;
  }
  .fs3 {
    font-size: 1.5rem;
  }
}
.sections.is-nav {
  z-index: 111;
  color: var(--9-white);
  display: block;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}
.sections-bg.is-nav {
  opacity: 0;
  padding: 1rem 1rem 0;
}
.sections-bg {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.padding-global {
  z-index: 1;
  width: 100%;
  padding-left: 6.6%;
  padding-right: 6.6%;
  position: relative;
}
.container {
  width: 100%;
  max-width: 78rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.w-container:before,
.w-container:after {
  content: " ";
  grid-area: 1/1/2/2;
  display: table;
}
.w-container:after {
  clear: both;
}
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}
sections.is-nav {
    z-index: 111;
    color: var(--9-white);
    display: block;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}
.nav-bar {
  grid-column-gap: 2.25rem;
  grid-row-gap: 2.25rem;
  justify-content: space-between;
  align-items: center;
  height: 9.38em;
  padding-top: 1rem;
  display: flex;
}

.nav-bar_menu {
  grid-column-gap: 2.25rem;
  grid-row-gap: 2.25rem;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.nav-bar_menu-link {
  opacity: 0.75;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: opacity 0.2s;
  display: flex;
}
.nav-bg-inset {
  border-radius: 0.75rem;
  height: 100%;
  overflow: hidden;
  transform: scale(1);
}
.nav-bg-inset.nav {
  background-color: var(--4-calm-night);
}
.nav-gradient {
  background-image: linear-gradient(rgba(36, 3, 78, 0.5), rgba(37, 39, 56, 0));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.nav-bar_list {
  grid-column-gap: 2.25rem;
  grid-row-gap: 2.25rem;
  flex: 1;
  display: flex;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
extrenal-text-link-w {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

._2-button-w-nav {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  align-items: center;
  display: flex;
}

.nav-bar_menu-icon {
  display: none;
}
.nav-bar_menu-icon-w {
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
}
menu-cion {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1rem;
  display: flex;
}
svg:not(:root) {
  overflow: hidden;
}

/*button case*/
.sty-font-list-w {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}
.div-block {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  background-color: #f8f6fa;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  justify-items: start;
  width: 100%;
  padding: 2rem;
  display: grid;
}
.button {
  grid-column-gap: 0.63rem;
  grid-row-gap: 0.63rem;
  border: 0px solid var(--6-light-purple);
  color: var(--9-white);
  background-color: #272399;
  border-radius: 3.125rem;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding: 0.88rem 1.75rem;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.button.is-secondary {
  border: 0.09375rem solid var(--6-light-purple);
  color: var(--6-light-purple);
  background-color: transparent;
  transition-property: all;
}
.button.is-secondary:hover {
  background-color: var(--6-light-purple);
  color: var(--9-white);
}
.button.is-text {
  grid-column-gap: 0.38rem;
  grid-row-gap: 0.38rem;
  color: var(--4-calm-night);
  background-color: transparent;
  border: 0.0625rem #000;
  border-bottom: 0.125rem solid transparent;
  border-radius: 0;
  padding: 0;
  transition: all 0.2s;
}
.button.is-text:hover {
  border-bottom-color: var(--6-light-purple);
  color: #4b47c6;
  -webkit-text-stroke-color: #4b47c6;
}
.button.is-cta {
  background-color: var(--6-light-purple);
  width: 12.5rem;
  padding: 1rem 2.25rem 1rem 1.5rem;
}
.t-button {
  text-align: center;
  letter-spacing: 0.005em;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.3;
}
.type-load-more {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.icon-button_plus {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}
.icon-button_ext {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 0.9375rem;
  display: flex;
}
.button-filter {
  cursor: pointer;
  background-color: #fbf2ef;
  border: 0.0625rem solid #d1cedd;
  border-radius: 1.875rem;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding: 0.5rem 1.75rem;
  transition: color 0.15s, background-color 0.15s;
  display: flex;
}
.button-filter:hover {
  color: var(--9-white);
  background-color: #3b3d54;
}
.button-filter:active {
  background-color: var(--4-calm-night);
}
.button-filter.is-active {
  background-color: var(--4-calm-night);
  color: var(--9-white);
  cursor: auto;
}
.t-filter {
  letter-spacing: 0.02em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 160%;
}






/*hero section part starts here*/
sticky-wrapper {
  z-index: 0;
  position: relative;
}
.subhero-content {
  z-index: 3;
  align-items: flex-start;
  height: 100%;
  min-height: 70vh;
  display: flex;
  position: relative;
}
.subhero-content.is-adjusted {
  align-items: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 30vh;
}
.home-hero-title-w.is-home-new {
  color: var(--9-white);
  width: 100%;
  max-width: 54rem;
  margin-left: 0;
  margin-right: auto;
}
.home-hero-title-w {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 47.63rem;
  margin-bottom: 4rem;
  display: flex;
}
t-title-eyebrow {
  letter-spacing: -0.01em;
  font-family: Helvetica now display, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}
.fs2 {
  letter-spacing: -0.01em;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 110%;
}
fs3 {
  letter-spacing: -0.02em;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1;
}
.fs3.is-inline {
  display: inline;
}

/*trying to solve the second section*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}
h1 {
  letter-spacing: -0.015em;
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.1;
  margin: 0.67em 0;
}
.div-block-3 {
  width: 100%;
  max-width: 34rem;
}
.p-med {
  letter-spacing: -0.01em;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}
p {
  letter-spacing: -0.01em;
  margin-bottom: 0;
  font-family: Freight, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}
.vertical-line_wrapper {
  z-index: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.56rem;
  display: flex;
  position: relative;
}
.home-img-grd-test {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  text-align: center;
  flex-direction: column;
  width: 100%;
  max-width: 47rem;
  margin-bottom: 3.38rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.logo-span {
  max-width: 13.31rem;
  margin-right: 0.375rem;
  display: inline-block;
}
.text-color-spring-red {
  color: #ca5f72;
}
.section-videos {
  z-index: 1;
  text-align: center;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.videos-content {
  grid-column-gap: 1.5rem;
  justify-content: flex-start;
  min-width: 400vw;
  display: flex;
}
.slide-videos_item {
  border-radius: 0.375rem;
  flex: none;
  width: 28rem;
  height: 15.75rem;
  overflow: hidden;
}



/*taken from style.css*/
.secion-hero_overlay-2 {
  background-image: linear-gradient(
      rgba(36, 3, 78, 0.7),
      rgba(255, 255, 255, 0) 24%
    ),
    linear-gradient(23deg, #4c3781, rgba(215, 89, 117, 0) 50%);
  border-radius: 16px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.sections-hero {
  z-index: 1;
  background-color: #fff;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0.88em;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}
.hero-background {
  z-index: 0;
  background-image: linear-gradient(
      23deg,
      rgba(113, 106, 235, 0.65),
      rgba(215, 89, 117, 0) 49%
    ),
    linear-gradient(rgba(36, 3, 78, 0.37), rgba(255, 255, 255, 0));
  border-radius: 1em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
  max-height: 120em;
  display: flex;
  position: relative;
  overflow: hidden;
}
.hero-background_vid {
  z-index: 0;
  background-image: none;
  border-radius: 16px;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.w-background-video {
  color: #fff;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.w-background-video > video {
  object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
}

.w-background-video--control {
  background-color: transparent;
  padding: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.w-background-video--control > [hidden] {
  display: none !important;
}
.hero-overlay_container {
  z-index: 2;
  background-image: url(https://cdn.prod.website-files.com/651c4a232949c9f38286a491/651c4a232949c9f38286a501_Hero-trtmnt.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.75rem;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
video {
  vertical-align: baseline;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.w-video {
  width: 100%;
  padding: 0;
  position: relative;
}
.w-video iframe,
.w-video object,
.w-video embed {
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50;
  left: 0;
}
.section-hero__ovly {
  z-index: 2;
  background-image: linear-gradient(
      rgba(36, 3, 78, 0.4),
      rgba(255, 255, 255, 0) 42%
    ),
    linear-gradient(45deg, #4d49a2, #d75975 77%, #f48fa5);
  border-radius: 16px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.hero_photo {
  object-fit: cover;
  object-position: 100% 50%;
  width: 100%;
  height: 100%;
  display: none;
}

